<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security.xsd
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <http auto-config="true">
        <!--<intercept-url pattern="/TruckList.do" access="permitAll" />-->
        <intercept-url pattern="/welcome**" access="hasAnyRole('ROLE_MANAGER', 'ROLE_DRIVER')" />
        <intercept-url pattern="/trucks" access="hasRole('ROLE_MANAGER')" />
        <intercept-url pattern="/drivers**" access="hasRole('ROLE_MANAGER')" />
        <intercept-url pattern="/orders**" access="hasAnyRole('ROLE_MANAGER', 'ROLE_DRIVER')" />
        <intercept-url pattern="/freights**" access="hasRole('ROLE_MANAGER')" />
        <intercept-url pattern="/locations**" access="hasRole('ROLE_MANAGER')" />
        <!--<intercept-url pattern="/trucks" access="permitAll" />-->

        <form-login login-page="/landing"
                    default-target-url="/welcome"
                    authentication-failure-url="/landing?error"
                    login-processing-url="/j_spring_security_check"
                    username-parameter="email"
                    password-parameter="password"/>

        <logout logout-success-url="/landing?logout"
                logout-url="/j_spring_security_logout" />

        <!-- disable csrf protection -->
        <csrf disabled="true"/>

        <!-- access denied page -->
        <access-denied-handler error-page="/403" />
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userService" >
            <!-- Spring recommends to use BCrypt (BCryptPasswordEncoder), a hashing algorithm with randomly generated salt -->
            <password-encoder hash="bcrypt" />
        </authentication-provider>
    </authentication-manager>
</beans:beans>