<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="logiweb-ee" class="org.apache.log4j.RollingFileAppender">
        <param name="File"              value="${jboss.server.log.dir}/logiweb-ee.log"/>
        <param name="Append"            value="true"/>
        <param name="ImmediateFlush"    value="true"/>
        <param name="MaxFileSize"       value="2MB"/>
        <param name="MaxBackupIndex"    value="2"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c{2} - %m - at - %l%n" />
        </layout>
    </appender>

    <logger name="com.tsystems.javaschool.loginov" additivity="false">
        <level value="debug" />
        <appender-ref ref="logiweb-ee"/>
    </logger>

    <root>
        <level value="debug" />
        <appender-ref ref="logiweb-ee" />
    </root>

</log4j:configuration>